In [2]:
import pandas as pd

In [5]:
dados = pd.read_table('seguros.csv', encoding="UTF", sep=",")
dados.columns = ['idade','sexo', 'IMC','Num. filhos cobertos', 'Fumante', 'Regiao', 'Despesas']
#Remove a coluna Regiao
dados.drop('Regiao', axis=1, inplace=True)

In [6]:
len(dados)

1338

In [7]:
dados

      idade    sexo     IMC  Num. filhos cobertos Fumante     Despesas
0        19  female  27.900                     0     yes  16884.92400
1        18    male  33.770                     1      no   1725.55230
2        28    male  33.000                     3      no   4449.46200
3        33    male  22.705                     0      no  21984.47061
4        32    male  28.880                     0      no   3866.85520
5        31  female  25.740                     0      no   3756.62160
6        46  female  33.440                     1      no   8240.58960
7        37  female  27.740                     3      no   7281.50560
8        37    male  29.830                     2      no   6406.41070
9        60  female  25.840                     0      no  28923.13692
10       25    male  26.220                     0      no   2721.32080
11       62  female  26.290                     0     yes  27808.72510
12       23    male  34.400                     0      no   1826.84300
13       56  female  39.820                     0      no  11090.71780
14       27    male  42.130                     0     yes  39611.75770
15       19    male  24.600                     1      no   1837.23700
16       52  female  30.780                     1      no  10797.33620
17       23    male  23.845                     0      no   2395.17155
18       56    male  40.300                     0      no  10602.38500
19       30    male  35.300                     0     yes  36837.46700
20       60  female  36.005                     0      no  13228.84695
21       30  female  32.400                     1      no   4149.73600
22       18    male  34.100                     0      no   1137.01100
23       34  female  31.920                     1     yes  37701.87680
24       37    male  28.025                     2      no   6203.90175
25       59  female  27.720                     3      no  14001.13380
26       63  female  23.085                     0      no  14451.83515
27       55  female  32.775                     2      no  12268.63225
28       23    male  17.385                     1      no   2775.19215
29       31    male  36.300                     2     yes  38711.00000
...     ...     ...     ...                   ...     ...          ...
1308     25  female  30.200                     0     yes  33900.65300
1309     41    male  32.200                     2      no   6875.96100
1310     42    male  26.315                     1      no   6940.90985
1311     33  female  26.695                     0      no   4571.41305
1312     34    male  42.900                     1      no   4536.25900
1313     19  female  34.700                     2     yes  36397.57600
1314     30  female  23.655                     3     yes  18765.87545
1315     18    male  28.310                     1      no  11272.33139
1316     19  female  20.600                     0      no   1731.67700
1317     18    male  53.130                     0      no   1163.46270
1318     35    male  39.710                     4      no  19496.71917
1319     39  female  26.315                     2      no   7201.70085
1320     31    male  31.065                     3      no   5425.02335
1321     62    male  26.695                     0     yes  28101.33305
1322     62    male  38.830                     0      no  12981.34570
1323     42  female  40.370                     2     yes  43896.37630
1324     31    male  25.935                     1      no   4239.89265
1325     61    male  33.535                     0      no  13143.33665
1326     42  female  32.870                     0      no   7050.02130
1327     51    male  30.030                     1      no   9377.90470
1328     23  female  24.225                     2      no  22395.74424
1329     52    male  38.600                     2      no  10325.20600
1330     57  female  25.740                     2      no  12629.16560
1331     23  female  33.400                     0      no  10795.93733
1332     52  female  44.700                     3      no  11411.68500
1333     50    male  30.970                     3      no  10600.54830
1334     18  female  31.920                     0      no   2205.98080
1335     18  female  36.850                     0      no   1629.83350
1336     21  female  25.800                     0      no   2007.94500
1337     61  female  29.070                     0     yes  29141.36030

[1338 rows x 6 columns]