In [34]:
%matplotlib inline
import pandas as pd
import numpy as np
from math import *
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter

In [77]:
dados = pd.read_table('seguros.csv', encoding="UTF", sep=",")
dados.columns = ['idade','sexo', 'IMC','Filhos', 'Fumante', 'Regiao', 'Despesas']
#Remove a coluna Regiao
dados.drop('Regiao', axis=1, inplace=True)

In [52]:
dados

      idade    sexo     IMC  Filhos Fumante  Despesas
0        19  female  27.900       0     yes       1.0
1        18    male  33.770       1      no       0.0
2        28    male  33.000       3      no       0.0
3        33    male  22.705       0      no       1.0
4        32    male  28.880       0      no       0.0
5        31  female  25.740       0      no       0.0
6        46  female  33.440       1      no       0.0
7        37  female  27.740       3      no       0.0
8        37    male  29.830       2      no       0.0
9        60  female  25.840       0      no       1.0
10       25    male  26.220       0      no       0.0
11       62  female  26.290       0     yes       1.0
12       23    male  34.400       0      no       0.0
13       56  female  39.820       0      no       0.0
14       27    male  42.130       0     yes       2.0
15       19    male  24.600       1      no       0.0
16       52  female  30.780       1      no       0.0
17       23    male  23.845       0      no       0.0
18       56    male  40.300       0      no       0.0
19       30    male  35.300       0     yes       2.0
20       60  female  36.005       0      no       0.0
21       30  female  32.400       1      no       0.0
22       18    male  34.100       0      no       0.0
23       34  female  31.920       1     yes       2.0
24       37    male  28.025       2      no       0.0
25       59  female  27.720       3      no       0.0
26       63  female  23.085       0      no       0.0
27       55  female  32.775       2      no       0.0
28       23    male  17.385       1      no       0.0
29       31    male  36.300       2     yes       2.0
...     ...     ...     ...     ...     ...       ...
1308     25  female  30.200       0     yes       2.0
1309     41    male  32.200       2      no       0.0
1310     42    male  26.315       1      no       0.0
1311     33  female  26.695       0      no       0.0
1312     34    male  42.900       1      no       0.0
1313     19  female  34.700       2     yes       2.0
1314     30  female  23.655       3     yes       1.0
1315     18    male  28.310       1      no       0.0
1316     19  female  20.600       0      no       0.0
1317     18    male  53.130       0      no       0.0
1318     35    male  39.710       4      no       1.0
1319     39  female  26.315       2      no       0.0
1320     31    male  31.065       3      no       0.0
1321     62    male  26.695       0     yes       1.0
1322     62    male  38.830       0      no       0.0
1323     42  female  40.370       2     yes       2.0
1324     31    male  25.935       1      no       0.0
1325     61    male  33.535       0      no       0.0
1326     42  female  32.870       0      no       0.0
1327     51    male  30.030       1      no       0.0
1328     23  female  24.225       2      no       1.0
1329     52    male  38.600       2      no       0.0
1330     57  female  25.740       2      no       0.0
1331     23  female  33.400       0      no       0.0
1332     52  female  44.700       3      no       0.0
1333     50    male  30.970       3      no       0.0
1334     18  female  31.920       0      no       0.0
1335     18  female  36.850       0      no       0.0
1336     21  female  25.800       0      no       0.0
1337     61  female  29.070       0     yes       1.0

[1338 rows x 6 columns]

In [78]:
for i in range(len(dados['Despesas'])):
    if dados.loc[i,'Despesas'] <= 15000:
        dados.at[i,'Despesas'] = 0
    if dados.loc[i,'Despesas'] > 15000 and dados.loc[i,'Despesas'] <= 30000:
        dados.at[i,'Despesas'] = 1
    if dados.loc[i,'Despesas'] > 30000 and dados.loc[i,'Despesas'] <= 50000:
        dados.at[i,'Despesas'] = 2
    if dados.loc[i,'Despesas'] > 50000:
        dados.at[i,'Despesas'] = 3
dados.head(2)

   idade    sexo    IMC  Filhos Fumante  Despesas
0     19  female  27.90       0     yes       1.0
1     18    male  33.77       1      no       0.0

In [80]:

dados.sexo[dados.sexo=='male']=0
dados.sexo[dados.sexo=='female']=1

/Users/roger/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/roger/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [50]:
fuma_ou_nao = dados.Fumante.value_counts(True)
fuma_ou_nao

no     0.795217
yes    0.204783
Name: Fumante, dtype: float64

In [39]:
nivel_despesa = dados.Despesas.value_counts(True)
nivel_despesa

0.0    0.732436
1.0    0.146487
2.0    0.115845
3.0    0.005232
Name: Despesas, dtype: float64

In [43]:
filhos = dados.sexo.value_counts(True)
filhos

male      0.505232
female    0.494768
Name: sexo, dtype: float64

In [109]:
train = dados.sample(n=200)
fuma_ou_nao = train.Fumante.value_counts(True)
fuma_ou_nao

no     0.775
yes    0.225
Name: Fumante, dtype: float64

In [110]:
from sklearn.model_selection import train_test_split

x = dados.iloc[:,[0,1,2,3,5]]
y = dados.Fumante
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=50)

In [128]:
from sklearn.linear_model import LogisticRegression

sgd_clf = LogisticRegression()  # Existe aleatoriedade dentro do SGDClassifier.
sgd_clf.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [129]:
teste = sgd_clf.predict(X_test)

In [130]:
from sklearn.metrics import accuracy_score
y_pred = sgd_clf.predict(X_test)
print('Acurácia: {}'.format(accuracy_score(y_test, y_pred)))

Acurácia: 0.9664179104477612

In [131]:
y_test.head(3)

589    no
383    no
534    no
Name: Fumante, dtype: object